.DS_Store
.env
.env.local
.idea/
.vscode/
.venv/

data/*
!data/.gitkeep
database/backups/

static/uploads/*
!static/uploads/**/
!static/uploads/**/.gitkeep

backend/target/
web-h5/node_modules/
web-h5/dist/
web-admin/node_modules/
web-admin/dist/

__pycache__/
*.py[cod]
*.log
